.contentWrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.nav{
    width: 100%;
    height: 44px;
    margin-top: 15px;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.nav a{
    padding: 0 20px 13px 0;
    color: black;
    margin-left: 15px;
}
.nav>a:hover {
  border-bottom: 4px solid skyblue;
  cursor: pointer;
}
.ant-list-header{
    background: #3598dc !important;
    color: #fff;
    font-weight: bolder;
    height: 40px;
    line-height: 10px;
    text-align: left;
    border: 0;
}
.ant-list-bordered{
    border: 0 !important;
}
.item{
    width: 100%;
    height: 128px;
    text-align: left;
}
.item:nth-child(odd){
    background: #f4f6f7
}
.item:nth-child(even){
    background: #fff;
}
.item h3{
    font-size: 19px;
    padding: 10px 13px 0 40px;
    font-weight: bolder;
    color: #4E5A64;
}
.item p{
    margin-left: 26px;
    margin-bottom: 6px;
    color: #999999;
}
.item span{
    margin-right: 50px;
}
.item i{
    color: blue;
}