
.box {
  width: 230px;
  height: 100px;
  background: #fff;
  margin-left: 25px;
}

.span3 {
  float: left;
  font-size: 30px;
  font-weight: 400;
  color: #8877A9;
}

p {
  height: 20px;
  padding: 0 15px;
}

.p2 {
  height: 5px;
}

.p {
  width: 202px;
  height: 4px;
  background: #f5f5f5;
  margin-left: 15px;
  margin-top: 25px;
}

.span1 {
  float: right;
  font-size: 20px;
  padding-top: 10px;
}

.span4 {
  float: left;
  line-height: 13px;
  font-weight: bolder;
  color: #AAB5BC;
  margin-left: -100px;
  margin-top: 10px;
}

.small {
  float: left;
  font-size: 11px;
  color: #AAB5BC;
  font-weight: 600;
}

.span2 {
  float: right;
  color: #8877A9;
}