
 .trigger {
  font-size: 20px;
  line-height: 64px;
  display: none;
  cursor: pointer;
  transition: color 0.3s;
  color: #ccc;
}
.triggers {
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: #ccc;
}

 .triggers:hover {
  color: #fff;
}

 .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.h3{
    width: 200px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    padding-top: 15px;
    display: none;
    
}
.h3title{
    width: 200px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    padding-top: 15px;
}
.icons{
    margin-left: 50px;
    display: none;
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: #ccc;
}
.Headericons{
    text-align: center;
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: #ccc;
    margin-left: 29px;
}
.Headericons:hover{
    color: #fff;
}
