.Child-data {
  width: 550px;
  height: 400px;
  background: #fff;
  margin-top: 20px;
  text-align: center;
}
#chartdiv{
    width: 500px;
    height: 400px
}
#chartdiv2 {
  width: 500px;
  height: 400px;
   text-align: center;
}
.Child-data2 {
  width: 550px;
  height: 400px;
  background: #fff;
  margin-top: 20px;
}
.wiates-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.Child-data3 {
  width: 550px;
  height: 400px;
  background: #fff;
  margin-top: 20px;
}
#chartdiv4 {
  width: 500px;
  height: 400px;
  text-align: center;
}

.Child-data4 {
  width: 550px;
  height: 400px;
  background: #fff;
  margin-top: 20px;
}