.header{
    width:100%;
    height: 50px;
    background: #fff;
    display: flex;
    line-height: 50px;

}
.select{
    border: none;
    border: 1px solid #32c5d2;
    outline: none;
    margin-left: 10px;
    border-radius: 50px !important;
}
.ant-select-selection--single{
     outline: none;
     border: none;
     border-radius: 50px !important;
}
.ant-select-selection--single:hover{
    background: #32c5d2;
    color: #fff;
}
.tab-header{
    width: 100%;
    height: 50px;
    border-bottom:1px solid #fff;
    color: black;
    line-height: 50px;
}
.m-tab-header{
    display: inline-block;
    color: black;
     width:100px;
     height: 50px;
     text-align: center;
}
.m-tab-header:hover{
    width:100px ;
     height: 50px;
     border-bottom:5px solid #32c5d2;
}